$default-font-color : #000;
$background-color :#4a90e2;
$container-bgcolor:#f2f2f2;
$container-bordercolor:#000;
$textbox-bgcolor:lightgrey;
$button-textcolor:hsl(0, 0%, 100%);
$buttton-hovercolor:#000;
$button-add-color:#4caf50;
$clear-button-color:#9f6060;


@mixin mp($size)
{
    @media only screen and (minwidth :$size){
        @content;
    }
}

*{
    margin: 0;
    padding:0;
    box-sizing:border-box;

}

html,body{
    font-size: 16px;
    font-family: "Montserrat","sans-serif";
    color:$default-font-color;
    width:100%;
    min-height: 100%;
    @include mp(768px){
        font-size: 22px;
    }
}

body{

    padding:20px;
    background-color: $background-color;

}

section{
    background-color: $container-bgcolor;
    width: 90%;
    max-width: 700px;
    margin: auto;
    border :1px solid $container-bordercolor;
    border-radius: 10px;

}